$c_white: #ffffff;
$c_primary: #f0faff;
$c_secondary: #383d40;
$c_blue: #498df3;
$c_dark_blue: #3e5a84;
$c_dark: #212223;
$c_black: #101111;
$c_orange: #ffad32;

$app_width: 1170px;
$max_app_width: 1512px;

$i_menu: 100;
$i_dropdown: 1000;
$i_sticky: 1020;
$i_fixed: 1030;
$i_modal-backdrop: 1040;
$i_modal: 1050;
$i_popover: 1060;
$i_tooltip: 1070;
