@import 'styles';

.header {
  padding: 0;
  margin: 0;
  height: 60px;
  background-color: $c_white;
  border-bottom: 1px solid $c_blue;
  z-index: 9999;

  @include md {
    height: 50px;
  }
}

.fixed {
  position: sticky;
  height: 60px;
  top: -100%;
  background-color: rgba($color: $c_white, $alpha: 0.9);
  animation: down 0.5s forwards;
  z-index: 1;

  @include md {
    height: 50px;
  }
}

.root {
  padding: 0 24px;
  max-width: $app_width;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.brand {
  font-weight: bold;
  font-size: 20px;

  @include md {
    font-size: 14px;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include md {
    display: none;
  }
}

.links {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.link {
  font-size: 14px;
  color: $c_dark_blue;

  &:not(:last-child) {
    padding-right: 46px;

    @include lg {
      padding-right: 26px;
    }
  }

  &:hover {
    color: $c_blue;
  }

  &.active {
    color: $c_blue;
  }
}

.separator {
  margin: 0 24px;
  height: 24px;
  width: 1px;
  background-color: $c_blue;
}

.languages {
  display: flex;
  align-items: center;
}
