@import 'styles';

.footer {
  padding: 20px;
  min-height: 200px;
  background-color: $c_black;
  text-align: center;
  color: #fff;
}

.content {
  display: flex;
  justify-content: center;
}

.logo {
  padding-right: 24px;
}

.section {
  text-align: left;
}

.title {
  text-align: left;
}

.description {
  font-size: 12px;

  .item {
    display: block;
  }
}

.email {
  color: $c_blue;

  &:hover {
    text-decoration: underline;
  }
}
